.row-fluid#search
  .container
    .row
      .col-md-12

.row-fluid#info
  .container
    .row.realtor
      .col-md-5.personal
        .col-md-3.avatar
          = image_tag("avatar.png", size: "64", alt: "realtor", class: "realtor-avatar img-circle img-thumbnail")
        %ul.col-md-9
          %li.name
            %p Name
          %li.company
            %p Company
      .col-md-3.location
        %ul.col-md-12
          %li.line-1
            %p Indianapolis,
          %li.line-2
            %p Remote Village
      .col-md-3.contact
        %ul.col-md-12
          %li.email
            %p email@realestate.com
          %li.phone
            %p +1 (234) 567-89-01
      - if current_user && current_user.role == "admin"
        .col-md-1.admin-controls
          %button.btn-warning.btn-xs Edit
          %button.btn-danger.btn-xs Delete
