#admin-realtors-controller {
  #search {
    min-height: 300px;
    background-color: #322036;
  }

  #info {
    min-height: 300px;

    .realtor {
      .name {
        .realtor-avatar {
          padding: 2px;
          background-color: #d9534f;
        }
      }
    }
  }
}
